/* 공통영역 */
header{
    width: 90%;
    position: fixed;
    left: calc(50% - 45%);
}

.main_menu_wrap{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    display: none;
    
}

.bg_box{
    width: 100%;
    background-color: #F8F3E5;
    position: relative;
}

.menu_con_wrap{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    color: #EF5C00;
}

.menu_con_wrap p{
    color: transparent;
    -webkit-text-stroke: 1px #EF5C00;
    margin-bottom: 50px;
}

.license:hover, .skill:hover, .project:hover, .contact:hover{
    color: #EF5C00;
    transition: .25s ease;
}

.menu_con_wrap,.bottom_menu_wrap,.menu_list_wrap{
    display: flex;
}

.right_menu_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.close_but img{
    width: 95%;
    position: relative;
}

.menu_con_wrap,.bottom_menu_wrap{
    flex-direction: column;
}

.bottom_menu_wrap{
    height: 100%;
    margin: 300px auto;
}

.menu_list_wrap {
    font-size: 4.0rem;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    text-align: center;
}

.menu_list_wrap p{
    line-height: 50px;
}

button{
    background-color: transparent;
    border: none;
    margin-left: 25px;
}


/* pc 미디어쿼리 */
@media all and (min-width: 1281px){ 

    .right_menu_wrap{
        top: 25px;
        right: 15px;
    }

    .close_but {
        font-size: 2.8rem;
    }

}

/* 탭 미디어쿼리 */
@media screen and (min-width:721px) and (max-width:1280px){

    .right_menu_wrap{
        top: 20px;
        right: 10px;
    }

    .close_but {
        font-size: 2.2rem;
    }

    button{
        margin-left: 20px;
    }
}

/* 모바일 미디어쿼리 */
@media screen and (min-width:320px) and (max-width:720px){

    .right_menu_wrap{
        top: 25px;
        right: 20px;
    }

    .close_but {
        font-size: 1.4rem;
    }

    .close_but img{
        width: 40px;
    }

    .bottom_menu_wrap{
        margin: 230px auto;
    }

    .menu_list_wrap {
        font-size: 2.0rem;
    }

    .menu_list_wrap p{
        line-height: 30px;
    }

    button{
        margin-left: 5px;
    }

}