@media screen and (min-width:320px) and (max-width:720px){

.page_1 {
    width: 100%;
    position: relative;
    height: 300vw;
    background-color:  #F8F3E5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    text-align: center;
    margin-bottom: 300px;
}

.sticky_box_wrap{
    position: sticky;
    top: 120px;
    height: 150vw;
    width: 100%;
    background-color:  #F8F3E5;
    
}

.path_page{
    position: sticky;
    top:0;
    height: 100vw;
    width: 100%;
    background-color:  #F8F3E5;
    clip-path: circle(0% at center);
}

.in_page_1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main_img_box{
    width: 100%;
    position: relative;
    top: 150px;
}

.main_img{
    width: 70vw;
    height: 70vw;
}


.main_banner{
    width: 100vw;
    height: 68px;
    position: relative;
    margin: 0 auto;
    top: -90px;
    z-index: -9;
    transform: rotate(-8deg);
    transform-origin: center;  /* 회전 기준점 (가운데) */
}

.move_box_1, .move_box_2, .move_box_3{
    width: 4805px;
    height: 110px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-start;
}

.move_box_2{
    right: 0;
}

.move_box_1,.move_box_3{
    left: 0;
}

.img_box_1, .img_box_2, .img_box_3{
    width: 1590px;
    height: 68px;
}

.page.main_page{
  display: block;
  overflow: visible;
  height: 210vw;
}

.page.main_page .width_align{
  height: auto;
}

.in_width{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* 수업 이수, 자격증 영역 */
.page_2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 300px; */

}

.license_page{
    width: 100%;
    height: 100%;
    overflow: visible;
}

.license_box_wrap{
    width: 300px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.hover_box_1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 299;
    right: calc(50% - 320px);
    top: calc(50% - 350px);
}

.hover_box_2{
    width: 100%;
    height: 100%;
    position: absolute;
}

.hover_box_3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 301;
    left: calc(50% + 250px);
    top: calc(50% - 550px);
}

.License_1{
    position: relative;
    width: 35vw;
    height: 25vw;
    left: calc(50% - 450px);
    top: calc(50% - 100px);
}
.License_2{
    position: relative;
    width: 35vw;
    height: 25vw;
    left: calc(50% - 50px);
    top: calc(50% - 100px);
}
.License_3{
    position: relative;
    transform: rotate(45deg);
    width: 35vw;
    height: 25vw;
    left: calc(50% - 450px);
    top: calc(50% - 90px);
}

.hover_box_in{
    display: flex;
    align-items: flex-end;
}

.hover_img_1,.hover_img_2{
    display: none;
}

.hover_box_in.in_1{
    position: relative;
    left: calc(50% - 500px);
    top: calc(50% - 90px);
}

.hover_box_in.in_2{
    position: relative;
    left: calc(50% - 420px);
    top: calc(50% + 20px);
}

.hover_text_1,.hover_text_2{
    position: relative;
    color: #F8F3E5;
    -webkit-text-stroke: 1px #EF5C00;
    
    text-align: center;
    font-size: 1.8rem;
}


.license_mask_box{
    width: 300px;
    height: 500px;
    border-radius: 30px;
    border: 2px dotted #EF5C00;
    position: relative;
    margin: 50px auto;
    padding: 80px;
    box-sizing: border-box;
    overflow: hidden;  
}

.license_move_box{
    width: 100%;
    height: 1500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F8F3E5;
}

.license_text{
    width: 100%;
    height: 500px;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.license_text p{
    font-size: 1.4rem;
}



/* 스킬 영역 */

.page_3 {
    width: 100%;
    height: 600vw;
}
.skill_page{
    width: 100%;
    height: 250vw
}
.sticky_box{
    position: sticky;
    top: 200px;
    width: 100%;
    height: 100vw;
}


.won .skill_back_img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
}



.won{
    width: 300px;
    height: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 100px);
    transition: .45s ease;
    transform-style: preserve-3d;
    scale: 0.9;
}

.won img{
    width: 100%;
}

.rotate_on{
    transform: rotateX(90deg) rotateY(0deg) ;
}

.skill_pin{
    width: 2px;
    height: 150px;
    background-color: #EF5C00;
    position: absolute;
    top:0%;
    left:50%;
    transform-origin: center bottom;
    display: none;
    z-index: 305;
}


/* 프로젝트 영역 */

.page_4 {
    width: 100%;
    height: 250vw;
    margin: auto 0;
    display: flex;
    align-items: center;
    position: relative;

}

.in_page_2{
    width: 100%;
    height: 200vw;
}
.project_page{
    width: 100%;
    height: 200vw;
    padding: 0 30px;
    box-sizing: border-box;
}

.swiper_wrap{
    width: 100%;
    height: 500px;
}

.swiper {
    width: 100%;
    height: 100%;

}

.swiper-slide {
    text-align: center;
    background: #F8B936;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.project_img_box {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    background-color: #fff;
    margin: 20px auto;
    padding: 2px;
    box-sizing: border-box;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

.project_name{
    font-size: 1.8rem;
}

.text_18{
    font-size: 1.2rem;
}

.project_but_wrap{
    width: 100%;
    height: 200px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.project_but{
    width: 100px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #EF5C00;
    color: #EF5C00;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
}

/* 컨텍영역 */
.page_5 {
    width: 100%;
    height: 300vw;
}

.in_page_3{
    width: 100%;
    height: 200vw;
}

.contact_page{
    width: 100%;
    height: 200vw;
}

.contact_page .width_align{
    padding-top: 100px;
    box-sizing: border-box;
}



.contact_box_wrap{ 
    position: relative; 
    width: 100%;
    height: 100vw; 
    display:flex; 
    justify-content:space-around; 
    align-items:center;
    z-index: 12500;
    top: -50px;

}

.contact_back_img{
    width: 20vw;
    height: 20vw;
    position: relative;
    top: 330px;
    left: calc(50% - 70px);
    z-index: 10010;
    opacity: 1;
}

.contact_back_img img{
    width: 150px;
    height: 150px;
}

.contact_box{ 
    position: relative; 
    width:100px; 
    height:50px; 
    border-radius:30px; 
    background:#fff; 
    transition: 0.1s;
    cursor: pointer;
}

.contact_box.box_1{
    top: -90vw;
}

.contact_box.box_2{
    top: 80vh;
}


.contact_banner{
    width: 100%;
    height: 68px;
    position: relative;
    margin: 0 auto;
    top: 230px;
}

.contact_text_1,.contact_text_2{
  opacity: 0;
  transition: 0.1s;
  text-align: center;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.contact_move_box_1, .contact_move_box_2, .contact_move_box_3{
    width: 4805px;
    height: 110px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

.contact_move_box_2{
    right: 0;
}

.contact_move_box_1,.contact_move_box_3{
    left: 0;
}

.contact_img_box_1, .contact_img_box_2, .contact_img_box_3{
    width: 1590px;
    height: 68px;
}

.contact_card{
    width: 60vw;
    height: 80vw;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    display: block; 
    opacity: 0;
    visibility: hidden; /* <-- 추가 */
    transition: opacity 0.6s, visibility 0.6s;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

}

.contact_text_1 a{
    font-size: 1.8rem;
    color: #521A03;
    font-weight: 500;
}
.contact_text_2 a{
    font-size: 1.8rem;
    color: #521A03;
    font-weight: 500;
}
.text_32{
    font-size: 2.0rem;
}
.text_22{
    font-size: 1.4rem;
    font-weight: 500;
}

.qr_box{
    width: 70px;
    height: 70px;
    background-color: #EF5C00;
    border-radius: 10px;
    border: 2px solid #EF5C00;
}

.qr_box img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.footer{
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-bottom: 50px;
}

.text_16{
    font-size: 1.0rem;
    line-height: 1.0rem;
}

.up {
    width: 70px;
    height: 70px;

    position: fixed;
    z-index: 999999;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    display: block;
}

.up img{
    width: 100%;
    width: 100%;
}







}