.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  color: #EF5C00;
}

*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    object-fit: contain;
}

button {
  font-family: 'Interop', sans-serif;
  cursor: pointer;
  background-color: transparent;
}

html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Interop', sans-serif;
    background-color: #F8F3E5;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 62.5%;
}

.wrap{
    width: 100%;
}

.text_14{
    font-size: 1.4rem;
    
}

.text_16{
    font-size: 1.6rem;
    text-align: center;
}

.text_18{
    font-size: 1.8rem;
}

.text_20{
    font-size: 2.0rem;

}

.text_22{
    font-size: 2.2rem;

}

.text_24{
    font-size: 2.4rem;

}

.text_26{
    font-size: 2.6rem;

}

.text_28{
    font-size: 2.8rem;
    color: #EF5C00;
}

.text_30{
    font-size: 3.0rem;
    color: #EF5C00;
}

.text_32{
    font-size: 3.2rem;
    color: #EF5C00;
}

/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  z-index: 999999;
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
  background: #FAFAFA;
}

/* 스크롤바 손잡이 */
::-webkit-scrollbar-thumb {
  background: #FFA043;
  border-radius: 10px;
  z-index: 999999;
}

/* 손잡이에 hover 했을 때 */
::-webkit-scrollbar-thumb:hover {
  background: #ff8811
}

footer{
    width: 100%;
    height: 50px;
   
    line-height: 50px;
}

.page {
    height: 100vh;
}